.successPageStyle {
    background-color: #242424;
    color: #fff;
    margin: 0 auto;
    width: 80%;
    min-height: 70vh;
    font-size: 1.3rem;
}

.successPageContainer {
    background-color: #242424;
}
